@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {

    --font-family: 'Rubik', sans-serif;
    /* ## Colors */

    /* ### Primary */

    --Blue: hsl(246, 80%, 60%);

    --Light-red-work: hsl(15, 100%, 70%);
    --Soft-blue-play: hsl(195, 74%, 62%);
    --Light-red-study: hsl(348, 100%, 68%);
    --Lime-green-exercise: hsl(145, 58%, 55%);
    --Violet-social: hsl(264, 64%, 52%);
    --Soft-orange-self-care: hsl(43, 84%, 65%);

    /* ### Neutral */

    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);

    /* ## Typography

### Body Copy

- Font size: 18px (card titles e.g. Work, Play)

### Font

- Family: [Rubik](https://fonts.google.com/specimen/Rubik)
- Weights: 300, 400, 500 */

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-weight: 300;
    font-size: 62.5%;
    font-family: var(--font-family);
}

body {
    background-color: var(--Very-dark-blue);
    color: var(--Blue);
    font-size: 1.8rem;
}

main {
    min-width: 32rem;
    width: 80%;
    max-width: 100rem;
    padding: 2rem 1rem;
    /* border: 1px solid red; */
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--Desaturated-blue);
}

a:hover {
    color: #fff;
}

.profile_container {
    margin: auto;
    min-width: 30rem;
    max-width: 40rem;
    height: 18rem;
    border-radius: 1.5rem;
    background-color: var(--Dark-blue);
    margin-bottom: 2rem;
}

.card_container {
    margin: auto;

    /* border: 1px solid red; */
}

.profile_card {
    background-color: var(--Blue);
    height: 12rem;
    padding: 2.5rem;
    border-radius: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.img {
    width: 5rem;
    height: 5rem;
    border: 2px solid #fff;
    border-radius: 100%;
}

.report {
    font-size: 1.5rem;
}

.name {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
}

.report_area {
    color: var(--Pale-Blue);
}

.time_rate {
    padding: 2rem 0;
}

.selected {
    color: #fff;
}

.rate_list {
    display: flex;
    font-weight: 400;
    align-items: center;
    justify-content: space-around;
}

.card {
    cursor: pointer;
    margin: auto;
    min-width: 30rem;
    max-width: 40rem;
    border-radius: 1.5rem;
    height: 18rem;
    background-color: var(--Light-red-work);
    position: relative;
    background-image: url(images/icon-work.svg);
    background-repeat: no-repeat;
    background-size: 5rem;
    background-position-x: 95%;
    margin-bottom: 2rem;
}


.card_body {
    background-color: var(--Dark-blue);
    border-radius: 1.5rem;
    width: 100%;
    height: 14rem;
    position: absolute;
    bottom: 0;
    padding: 4.5rem 3rem;
    /* border: 1px solid white; */
    color: #fff;
}

.card_body:hover {
    filter: brightness(150%);
}

.menu {

    margin-bottom: 1rem;
}

.menu,
.time_tracker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 100%; */
}

.action {
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 500;
}

.time {
    font-size: 3rem;
}

.week_before {
    font-size: 1.4rem;
    color: var(--Pale-Blue);
}

.attribution {
    margin-bottom: 2rem;
    color: var(--Light-red-study);
}

.attribution a {
    color: var(--Lime-green-exercise);
    text-decoration: underline;
    text-decoration-color: var(--Light-red-study);
}


@media (min-width:600px) {
    main {
        margin-top: 20vh;
        min-width: 60rem;
        width: 90%;
        max-width: 120rem;
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 1rem;
        grid-template-rows: 1fr;
        /* border: 1px solid white; */
    }

    .profile_container {
        height: auto;
        min-width: auto;
        height: 100%;
        /* border: 1px solid white; */
        margin-bottom: 0;
    }

    .profile_card {
        height: auto;
        padding: 1rem 1rem;
        align-items: unset;
        flex-direction: column;
        gap: 1rem;
    }

    .name {
        font-weight: 300;
        font-size: 3rem;
    }

    .rate_list {
        flex-direction: column;
        align-items: unset;
        margin-left: 2rem;
        gap: 1rem;
    }

    .card_container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 2rem;
    }

    .card {
        min-width: 13rem;
        max-width: 25rem;
        width: 100%;
        height: 14rem;
        margin-bottom: 0;
    }

    .card_body {
        padding: 1rem;
        height: unset;
        padding: 2rem 1rem;
    }

    .time_tracker {
        align-items: unset;
        flex-direction: column;
    }
}

@media (min-width:900px) {
    .card {
        height: 17rem;
    }

    .profile_card {
        padding: 2rem;
        gap: 2rem;
        padding-bottom: 4rem;
    }

    .card_body {
        padding: 3rem 2rem;
    }

    .report_area {
        max-width: 60%;
    }
}

@media (min-width:1200px) {
    body {
        font-size: 2rem;
    }

    .profile_card {
        gap: 2.5rem;
    }

    .img {
        width: 8rem;
        height: 8rem;
        border-width: 3px;
    }

    .report {
        font-size: 1.8rem;
    }

    .name {
        font-size: 3.5rem;
        line-height: 1.4;
    }

    .card {
        min-height: 20rem;
    }

    .action,
    .week_before {
        font-size: 1.8rem;
    }

    .time {
        font-size: 4rem;
    }
}

@media (min-width:1400px) {
    main {
        max-width: 130rem;
        column-gap: 2.5rem;
    }

    .card_container {
        column-gap: 3rem;
        row-gap: 3rem;
    }

    .profile_card {
        gap: 4rem;
        padding: 4rem;
        padding-bottom: 8rem;
    }

    .img {
        width: 10rem;
        height: 10rem;
        border-width: 4px;
    }

    .report_area {
        max-width: 100%;
    }

    .report {
        font-size: 2rem;
    }

    .name {
        font-size: 5rem;
        line-height: 1.5;
    }

    .time_rate {
        padding: 3rem 0;
    }

    li a {
        font-size: 2.4rem;
    }

    .rate_list {
        gap: 2rem;
    }

    .card {
        max-width: 30rem;
        min-height: 30rem;
        background-size: 10rem;
    }

    .card_body {
        min-height: 24rem;
        padding: 4rem 3rem;
    }

    .action,
    .week_before {
        font-size: 2.4rem;
    }

    .time {
        font-size: 8rem;
    }
}